@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/*Bens Comment */
* {
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    color: white;
}

.search-card, .saved-card {
    border: 5px solid maroon;
    color: white;
    background-color: maroon;
    fill-opacity: 40%;
    padding: 10px;
    max-width: fit-content;
    border-radius: 30px;
    margin-bottom: 10px;
}

button {
    border-radius: 30px;
    color: white;
    background-color: maroon;
    border: 2px solid white ;
}

button:hover {opacity: .7;}

button:active {
    opacity: .5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.search-button:hover {opacity: .7;}

.search-button:active {
    opacity: .5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input {
    border-radius: 30px;
    color: white;
    background-color: maroon;
    border: 2px solid white ;
}



#search-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}



body {
    background-color: black;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-align {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::placeholder {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

#enjoy {
    border: 5px solid maroon;
    color: white;
    background-color: maroon;
    fill-opacity: 40%;
    padding: 10px;
    max-width: fit-content;
    border-radius: 30px;
}

.store-card {
    align-items: center;
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
}

.movieImg {
    height: 50%;
    width: 50%;
}