@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/*Bens Comment */
* {
    padding: 10px;
    font-family: 'Comfortaa', cursive;
    color: white;
}

.search-card, .saved-card {
    border: 5px solid maroon;
    color: white;
    background-color: maroon;
    fill-opacity: 40%;
    padding: 10px;
    min-width: 250px;
    max-width: 250px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.saved-card {
    margin-top: 10px;
    max-width: 253px
}
.movieName, .movieDate, .movieImg {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

button {
    border-radius: 30px;
    color: white;
    background-color: maroon;
    border: 2px solid white ;
}

button:hover {opacity: .7;}

button:active {
    opacity: .5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.search-button:hover {opacity: .7;}

.search-button:active {
    opacity: .5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input {
    border-radius: 30px;
    color: white;
    background-color: maroon;
    border: 2px solid white ;
    margin-right: 10px;
}



#search-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.see-saved, .getSnacks-btn {
    min-width: 250px;

}
.getSnacks-btn {

}

body {
    background-color: black;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-align {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::placeholder {
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
 p {
    padding-bottom: 0px;
    padding-top: 0px;
}

#enjoy {
    border: 5px solid maroon;
    color: white;
    background-color: maroon;
    fill-opacity: 40%;
    padding: 10px;
    min-width: 229px;
    border-radius: 30px;
}

.store-card {
    align-items: center;
    border: 2px white solid;
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
}

.movieImg {
    max-width: 200px;
    padding-left: 25px;
    padding-bottom: 16px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}